# Ignore everything
/*

# But not these files...
!.gitignore
!.gitconfig
!README.md
!.czrc
!.config/
.config/*

# Nvim
!.config/nvim/

# Fish local config
!.config/fish/
.config/fish/config-local.fish
.config/fish/fish_variables

# Powershell
!.config/powershell/
.config/powershell/*.bak
