# Ignore everything
/*
/**/.luarc.json

# But not these files...
!.gitignore
!.gitconfig
!.globalgitignore
!README.md
!.czrc
!.config/
.config/*
!.scripts/
.scripts/*

# Nvim
!.config/nvim/

# Fish local config
!.config/fish/
.config/fish/config-local.fish
.config/fish/fish_variables

# Powershell
!.config/powershell/
.config/powershell/*.bak

# Tmux
!.config/tmux/

# Own Scripts
!.scripts/ide

# resticprofile
!.config/resticprofile/
.config/resticprofile/*
!.config/resticprofile/profiles.yaml
